.player-song-info {
  border-bottom: none;
  width: 40%;
}

.player-song-info h4 {
  margin-bottom: 24px;
}

.player {
  width: 100%;
  display: flex;
}

.player .player-btn {
  width: 80px;
  height: 80px;
  margin: 40px;
  cursor: pointer;
}
