.song {
  border-right: none;
  border-bottom: none;
  border-left: none;
  flex-basis: 50%;
}

.song .player {
  width: 75%;
  height: 96px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #aaa1a1;
  cursor: pointer;
}

.song .player .player-btn {
  width: 60px;
  height: 60px;
  margin: 20px;
}

/* .player-btn:hover {
  border: 1px solid #aaa1a1;
  border-radius: 30px;
  box-sizing: border-box;
} */

.disabled-player-btn {
  pointer-events: none;
  opacity: 0.7;
}
