.song {
  border-right: none;
  border-bottom: none;
  border-left: none;
}

.play-btn {
  padding: 5px;
  flex-basis: 50%;
  font-weight: bold;
}

.play-btn:hover {
  background: linear-gradient(
    90deg,
    #927877 -46.24%,
    #fffdfd 58.97%,
    #7b6463 149.07%
  );
  border: 1px solid #b39b9a;
}
