body,
html {
  font-family: 'Rubik', sans-serif;
  margin: 0;
  padding: 0;
}

#main-container {
  padding-bottom: 5%;
  max-width: 1400px;
  margin: 0 auto;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.white {
  color: white;
}

.bg-blk {
  background-color: black;
}

.bg-gray {
  background: linear-gradient(
    90deg,
    #927877 -46.24%,
    #b39b9a 58.97%,
    #7b6463 149.07%
  );
}

.brdr-white {
  border: 1px solid white;
}

.brdr-gray {
  border: 1px solid #b39b9a;
}

.center-text {
  text-align: center;
}

.lighter {
  font-weight: lighter;
}

.italic {
  font-style: italic;
}

.fs-24 {
  font-size: 24px;
}

.fs-32 {
  font-size: 32px;
}

.underline {
  text-decoration: underline;
}

w-100-per {
  width: 100%;
}

.top-margin:not(:first-of-type) {
  margin-top: 120px;
}

.mrg-0 {
  margin: 0;
}

.pdg-20 {
  padding: 20px;
}

.pdg-40 {
  padding: 40px;
}

.flex {
  display: flex;
}

.align-ctr {
  align-items: center;
}

.space-bw {
  justify-content: space-between;
}
